<input type="hidden" #selection>

<div class="card-container">
    <div class="card card-small" (click)="onTerminalButtonClick('component')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

        <span>New Component</span>
    </div>

    <div class="card card-small" (click)="onTerminalButtonClick('material')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

        <span>Angular Material</span>
    </div>

    <div class="card card-small" (click)="onTerminalButtonClick('pwa')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

        <span>Add PWA Support</span>
    </div>

    <div class="card card-small" (click)="onTerminalButtonClick('dependency')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

        <span>Add Dependency</span>
    </div>

    <div class="card card-small" (click)="onTerminalButtonClick('test')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

        <span>Run and Watch Tests</span>
    </div>

    <div class="card card-small" (click)="onTerminalButtonClick('build')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Build for Production</span>
    </div>
</div>
