<md-toolbar-header></md-toolbar-header>

<div class="content" role="main">
    <div class="card highlight-card card-small jumbotron">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
    </div>

    <ng-container *ngIf="showBullets">
        <md-bullets-container [points]="overviewBullets"></md-bullets-container>
    </ng-container>

    <md-application-overview-container></md-application-overview-container>
    <md-copyright-footer></md-copyright-footer>
    <md-cloud-footer></md-cloud-footer>
</div>
