<md-toolbar-header></md-toolbar-header>

<div class="content" role="main">
    <div class="card highlight-card card-small jumbotron">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
    </div>

    <h2>{{resourceTitle}}</h2>
    <p>{{resourceSubtitle}}</p>
    <md-resource-cards></md-resource-cards>

    <h2>{{nextStepsTitle}}</h2>
    <p>{{nextStepsSubtitle}}</p>
    <md-terminal-cards (outputTerminalButtonClick)="handleTerminalButtonClick($event)"></md-terminal-cards>

    <div class="terminal" [ngSwitch]="selection">
        <pre *ngSwitchDefault>ng generate component xyz</pre>
        <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
        <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
        <pre *ngSwitchCase="'dependency'">ng add _____</pre>
        <pre *ngSwitchCase="'test'">ng test</pre>
        <pre *ngSwitchCase="'build'">ng build --prod</pre>
    </div>

    <md-circle-card-link></md-circle-card-link>

    <md-linked-footer></md-linked-footer>
    <md-cloud-footer></md-cloud-footer>
</div>
