<div class="application-overview-container">
    <h2 *ngIf="title">{{title}}</h2>

    <div *ngIf="overviewParagraphs" class="overview-paragraphs-container">
        <ng-container *ngFor="let paragraph of overviewParagraphs">
            <p *ngIf="paragraph" class="paragraph-container">
                {{paragraph}}
            </p>
        </ng-container>
    </div>

    <div *ngIf="technologyParagraphs && !!technologyParagraphs.length" class="technology-section-container">
        <h3>{{TECHNOLOGY_TITLE}}</h3>

        <ng-container *ngFor="let paragraph of technologyParagraphs">
            <p *ngIf="paragraph" class="paragraph-container">
                {{paragraph}}
            </p>
        </ng-container>

        <div *ngIf="technologyBullets && !!technologyBullets.length" class="technology-bullets-container">
            <ng-container *ngFor="let bullet of technologyBullets">
                <md-bullet-point *ngIf="bullet"
                    [iconHref]="bullet.iconHref"
                    [iconHrefTargetBlank]="bullet.iconHrefTargetBlank"
                    [iconSrc]="bullet.iconSrc"
                    [iconTitle]="bullet.iconTitle"
                    [message]="bullet.message">
                </md-bullet-point>
            </ng-container>
        </div>
    </div>
</div>
