.application-overview-container {
  margin-top: 16px;

  .bullet-point-container {
    display: block;
  }

  .collapsed-application-content {
    display: none;
  }

  .expanded-application-content {
    display: block;
  }

  .paragraph-container {
    margin-bottom: 12px;
    text-align: justify;
  }
}

@media screen and (min-width: 767px) {
  .technology-bullets-container .bullet-point-container {
    margin-left: 24px;
  }
}
