.application-overview-container {
  .application-title {
    margin-left: 16px;
  }

  .bullet-point-container {
    display: block;
  }

  .paragraph-container {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 767px) {
  .technology-bullets-container .bullet-point-container {
    margin-left: 24px;
  }
}
