.application-overview-container {
  margin-top: 16px;

  .bullet-point-container {
    display: block;
  }

  .application-content {
    overflow: hidden;
    padding-bottom: 12px;
  }

  .paragraph-container {
    margin-bottom: 12px;
    text-align: justify;
  }

  .text-expand-collapse-button {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;

    .button-block {
      background-color: rgba(236, 240, 241, 1);
      border: solid .5px rgba(black, 0.5);
      border-radius: 5px;
      cursor: pointer;
      padding: 2px 18px;
    }
  }
}

@media screen and (min-width: 767px) {
  .technology-bullets-container .bullet-point-container {
    margin-left: 24px;
  }
}
